.features {
    text-align: center;
    padding: 50px 20px;
  }
  
  .features .feature {
    display: inline-block;
    width: 30%;
    margin: 20px;
    text-align: center;
  }
  
  .features .feature img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 10px;
  }
  